# User Testing Report

User testing was conducted by Robyn Rutherford on October 22nd 2013 between the
times of 8:15 am and 9:00 am with the following participants:

- Lisa Beaton
- Stephanie Dawn Cansfield
- Cassie Chartrand

## Tasks

1. Read information about Clouds.
2. On your phone find the article about Aurara Borealis.
3. Find the information about Smog.

---

## Individual Results & Observations

### Lisa Beaton

- found the button in the buckets area
- supper easy
- tried weather first, then did human factors
- was pretty fast, easy, smooth


### Stephanie Dawn Cansfield

- used the bucket to access it,
- also tried cool effects, was confused as to which nav item might bring you to the clouds
- that was fast found it right away
- Assumed human factors right away, which is right
- Comments, It was easy

### Cassie Chartrand

- Used the bucket to access page
- Found it right away
- clicked the right nav button
- I like the clouds and the translucent look, like the nav at the bottom.


---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Background takes long to load.
- Make a drop down menus in the nav.

### Minor, Annoying, Won’t Hinder Completion

- Make the clouds more accessible from the nav by adding the drop down.
