
<link href="css/beautiful-sky.css" rel="stylesheet">
  <!-- Nav buttons 6 column grid -->
    <div class="grid nav-bg">
      <div class="unit unit-s-1 unit-m-1-2 unit-m2-1-3">
        <a href="index.html" class="logo">Beautiful Skies</a>
      </div>

      <div class="unit unit-s-1 unit-m-1-2 unit-m2-1-3">
        <a href="times-of-the-day.html">Day to Night</a>
      </div>

      <div class="unit unit-s-1 unit-m-1-2 unit-m2-1-3">
        <a href="weather-in-the-sky.html">Weather</a>
      </div>

      <div class="unit unit-s-1 unit-m-1-2 unit-m2-1-3">
        <a href="effects-in-the-sky.html">Cool Effects</a>
      </div>

      <div class="unit unit-s-1 unit-m-1-2 unit-m2-1-3">
        <a href="humans-in-the-sky.html">Humans Factors</a>
      </div>
    </div>
