
<link href="css/beautiful-sky.css" rel="stylesheet">
  <!-- Nav buttons 6 column grid -->
    <div class="grid nav-bg">
      <div class="unit unit-s-1 unit-s-1-2">
        <img src="http://placehold.it/1000x600" class="nav-img" alt="beautiful skies">
      </div>

      <div class="unit unit-s-1 unit-s-1-2">

      </div>

      <div class="unit unit-s-1 unit-s-1-2">
        <a href="times-of-the-day.html">Day to Night</a>
      </div>

      <div class="unit unit-s-1 unit-s-1-2">
        <a href="weather-in-the-sky.html">Weather</a>
      </div>

      <div class="unit unit-s-1 unit-s-1-2">
        <a href="effects-in-the-sky.html">Cool Effects</a>
      </div>

      <div class="unit unit-s-1 unit-s-1-2">
        <a href="humans-in-the-sky.html">Humans Factors</a>
      </div>
    </div>
