
<link href="css/beautiful-sky.css" rel="stylesheet">
  <!-- Nav buttons 6 column grid -->

    <div class="grid nav-bg">
      <div class="unit unit-s-1 unit-m-1 unit-l-2-6">
        <a href="index.html" rel="home" class="logo">Beautiful Skies</a>
      </div>

      <div class="nav-btn unit unit-s-1 unit-m-1-2 unit-m2-1-4 unit-l-1-6">
        <ul class="drop-down">
          <li><a href="times-of-the-day.html" class="{% if page.url == '/times-of-the-day.html' %}current{% endif %}">Day to Night</a>
            <ul>
              <li><a href="times-of-the-day.html#day">Day</a></li>
              <li><a href="times-of-the-day.html#night">Night</a></li>
              <li><a href="times-of-the-day.html#dawn">Dawn</a></li>
              <li><a href="times-of-the-day.html#dusk">Dusk</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="nav-btn unit unit-s-1 unit-m-1-2 unit-m2-1-4 unit-l-1-6">
        <ul class="drop-down">
          <li><a href="weather-in-the-sky.html" class="{% if page.url == '/weather-in-the-sky.html' %}current{% endif %}">Weather</a>
            <ul>
              <li><a href="weather-in-the-sky.html#clouds">Clouds</a></li>
              <li><a href="weather-in-the-sky.html#rain">Rain</a></li>
              <li><a href="weather-in-the-sky.html#hail">Hail</a></li>
              <li><a href="weather-in-the-sky.html#humidity">Humidity</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="nav-btn unit unit-s-1 unit-m-1-2 unit-m2-1-4 unit-l-1-6">
        <ul class="drop-down">
          <li><a href="effects-in-the-sky.html" class="{% if page.url == '/effects-in-the-sky.html' %}current{% endif %}">Cool Effects</a>
            <ul>
              <li><a href="effects-in-the-sky.html#aurara">Aurara Borealis</a></li>
              <li><a href="effects-in-the-sky.html#ozone">Ozone Layer</a></li>
            </ul>
          </li>
        </ul>

      </div>

      <div class="nav-btn unit unit-s-1 unit-m-1-2 unit-m2-1-4 unit-l-1-6">
        <ul class="drop-down">
          <li><a href="humans-in-the-sky.html" class="{% if page.url == '/humans-in-the-sky.html' %}current{% endif %}">Human Factors</a>
            <ul>
              <li><a href="humans-in-the-sky.html#pollution">Air Pollution</a></li>
              <li><a href="humans-in-the-sky.html#smog">Smog</a></li>
              <li><a href="humans-in-the-sky.html#flight">Flight</a></li>
            </ul>
      </div>
    </div>
