@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  min-width: 240px;
  background-image:url(../images/sky-background.jpg);
  background-repeat: no-repeat;
  background-color: #5a98e1;
  font: normal 125%/1.4 Georgia, serif;
}

body {
  max-width: 700px;
  margin: 0 auto;
}

@media only screen and (min-width: 240px) {
  body {
    max-width: none;
    margin: .5em;
  }
}


/* Skiplinks */
.skiplinks {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20%;
  z-index: 3000;

  font-size: 1.25em;
  font-weight: bold;
  list-style-type: none;

}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
  display: inline-block;
  padding: 0.5em 0.75em;
  position: absolute;
  top: -10em;

  background-color: #6b89c5;

  color: #FFF;
  text-decoration: none;
}

.skiplinks a:focus {
  top: 0;  /* Removes keyboard selection highlight */
}

a,
a:link,
a:visited {
  outline: none; /* Removes the keyboard selection highlight */
}

a:focus {
  outline: 2px solid #6b89c5;
}


/* Nav and footer, from default file*/
.nav-img {
  width: 100%;
}

.current {
  background-color: #fff;
}

nav a:hover,
nav a:focus,
nav a:active,
footer a:hover,
footer a:focus,
footer a:active {
  background-color: #FFF;
}

/*nav a,
nav a:hover,
nav a:active {
  background-color: #6b89c5;
  display: block;
}
*/


.nav-bg {
    background-color: #eae8e4;
    margin: 0% 0% 5% 0%;

}

nav a,
footer a {
  background-color: #eae8e4;

  text-decoration: none;
  color: #19459c;
  font-size: 1.15em;
  text-align: center;
  display: block;
  padding-bottom: 4%;
  padding-top: 0%;
  width: 100%;
}

.logo {
  font-size: 1.75em;
  color: #6b89c5;
  font-weight: bold;
  padding-left: 2%;
  margin-top: 0%;
  margin-left: 0%;
  text-align: center;
}

a.logo:hover,
a.logo:focus,
a.logo:active {
  background-color: transparent;
}

/*nav a .logo:hover {
  background-color: #eae8e4;
}*/
/*  border: 1px solid red;*/

li {
  list-style-type: none;

}

.drop-down {
  padding: 0%;
  margin-top: 0%;
}

.drop-down li ul {
  left: -9999em;
  position: absolute;
  z-index: 1000;
  width: 10em;
}
.drop-down li ul a,
.drop-down li ul a:link,
.drop-down li ul a:visited {
  background-color: #19459c;
  color: #fff;
}

.drop-down li:hover ul {
  display: block;
  left: auto;
  width: 90%;
  text-decoration: none;
  text-align: center;
  margin-left: -3%;
}

.drop-down li ul a:hover,
.drop-down li ul a:focus,
.drop-down li ul a:focus {
  background-color: #FFF;
  color: #19459c;
}

.footer-p {
  padding: 2% 0% 1% 0%;
  display: inline-block;
  font-size: .5em;
  color: #19459c;
  text-align: center;
  background: none;
}

.center-footer {
  width: 100%;
  padding-left: 32%;
}


.read-on-link,
a .read-on-link:visited {
  color: #19459c;
  text-decoration: none;
}

.read-on-link:hover {
  color: #000;
}





/* Content */
/* Images */

img {
  width: 100%;
}

.bucket-img {
  width: 100%;
  padding: 1.5%;
}

h1 {
  color: #fff;
  font-size: 1.75em;
  text-align: center;

  background-color: #19459c;
  padding: 2% 1% 2% 4%;
  margin: 2% -2.7% 0% -2%;
}

h2 {
  color: #fff;
  font-size: 1.5em;
  text-align: center;

  background-color: #19459c;
  padding: 2% 1% 2% 4%;
  margin: 2% -2.7% 0% -2%;
}

h3 {
  padding: 0% 2% 1% 2%;
  margin-top: -0.5%;
}

.main-article {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.4);
  padding: 2% 3% 2% 3%;
  margin: 0% -2.7% 2% -2%;
  font-size: 1em;
}

.bucket {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.4);
/*    padding: 4% 1% 2% 4%;*/
  margin: 1.5%;
}

.b-left,
.b-right {
  margin: 1.5% 0%;
}


.bucket-p {
  margin-top: -5%;
  padding: 0% 2%;
}

/* 404 page */
.help {
  padding: 10% 2%;
}

.help-image {
  width: 104.5%;
  padding: 0;
  margin-left: -2%;
}

.error-text {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.4);
  padding: 2% 3% 3% 3%;
  margin: 0% -2.7% 2% -2%;
  font-size: 1em;
}



/* Media Queries */

@media only screen and (min-width: 26em) {

nav a,
footer a {
  padding-top: 2%;
}

.drop-down li:hover ul {
  width: 40%;
  margin-left: 0%;
}

}

@media only screen and (min-width: 38em) {

.nav-bg {
  margin-bottom: 0;
}

.drop-down li:hover ul {
  width: 28%;
  margin-left: -5%;
}

h3 {
  padding: 0% 2% 2% 2%;
}

.img-left {
  margin-top: 2%;
  padding-top: 2%;
}

.img-right {
  margin-top: 2%;
  padding-top: 2%;
}

.bottom-img {
  padding-top: -8px;
}

.help {
  padding: 10% 8%;
}

}

@media only screen and (min-width: 43em) {

.nav-btn {
  padding-top: 0%;
}

.logo {
  margin-top: 0%;
}

.drop-down {
  margin-top: 10%;
}

.drop-down li:hover ul {
  width: 25%;
  margin-left: -2%;
}

.unit-img {
  padding-top: 4%;
}



}

@media only screen and (min-width: 60em) {

.footer-p {
  font-size: 1em;
}

.logo {
  margin-top: 1.5%;
  margin-left: 4%;
  text-align: left;
}

.nav-btn {
  padding-top: 0%;
}

.drop-down li:hover ul {
  width: 15%;
  margin-left: .5%;
}

.img-top-right {
  margin-top: 2%;
  margin-left: 2.5%;
}
.img-top-left {
  margin-top: 2%;
  padding-right: 2%;
}
.img-left {
  padding-top: 2%;
  padding-right: 5%;
}

.img-right {
  padding-top: 2%;
  margin-left: 6%;
}

.help {
  padding: 6% 25%;
}

}

@media only screen and (min-width: 88em) {

html {
  font: normal 150%/1.4 Georgia, serif;
}


}

@media only screen and (min-width: 125em) {

html {
  font: normal 180%/1.4 Georgia, serif;
}
.unit-img {
  padding-top: -3%;
}
.img-top-right {
  margin-top: 2%;
}
.img-top-left {
  margin-top: 2%;
}
.img-left {
  padding-top: 2%;
}

.img-right {
  padding-top: 2%;
}
}
