<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>Beautiful Skies · {{page.title}}</title>
  <meta name="description" content="{{page.meta}}">

  <link href="css/beautiful-sky.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">

  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Facebook meta data -->
  <meta property="og:type" content="Home Page">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="http://ruth0040.github.io/large-data-website/index.html">
  <meta property="og:image" content="http://ruth0040.github.io/large-data-website/img/thing.jgp">
  <!-- Image size: minimum 200x200; preferred 1500x1500-->
  <meta property="og:site_name" content="Name of this Website/Company">
  <meta property="og:descruiption" content="{{page.meta}}">

<!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="{{page.title}}">
  <meta property="twitter:url" content="http://ruth0040.github.io/large-data-website/index.html">
  <meta property="twitter:image" content="http://ruth0040.github.io/large-data-website/img/thing.jgp">
  <!-- Image size: minimum 120x120-->
  <meta property="twitter:description" content="{{page.meta}}">

<!-- should i be putting baseurl in the the meta tags -->

</head>
<body>

  <!-- Nav buttons 6 column grid -->
  <nav>
    {% include nav.html %}
  </nav>


  {{content}}


  <footer>
    {% include nav.html %}
    <p class="footer-p">© 2013 Robyn Rutherford. All Rights Reserved </p>
  </footer>

</body>
</html>
